<div>
    <h1>
        My Library
    </h1>
    <a routerLink="list-books">Home</a>&nbsp;&nbsp;
    <a routerLink="register-book">Cadastrar Livro</a>
</div>

<div style="margin-top: 20px">
    <router-outlet></router-outlet>
</div>