<h2 style="margin: 0px;">
    {{book.title}}
</h2>

<p style="margin-top: 5px;">
    {{book.author}}
</p>

<p>{{book.summary}}</p>

<p>
    {{book.pages}} páginas <br />
    {{book.edition}}ª edição - {{book.publicationYear}} 
</p>

<p>
    Editora {{book.publisher}} <br />
    ISBN: {{book.isbn}}
</p>