<h4>
    Cadastro de Livro
</h4>

<form [formGroup]="formBook">

    Título: <br />
    <input type="text" size="50" formControlName="title"/>
    <div *ngIf="title.touched && title.errors?.required" class="error-message">
        Informe o título!
    </div>
    <br /><br />

    Autor: <br />
    <input type="text" size="40" formControlName="author" />
    <div *ngIf="author.touched && author.errors?.required" class="error-message">
        Informe o autor!
    </div>
    <br /><br />

    Editora: <br />
    <input type="text" size="30" formControlName="publisher" />
    <div *ngIf="publisher.touched && publisher.errors?.required" class="error-message">
        Informe a editora!
    </div>
    <br /><br />

    Sinopse: <br />
    <textarea cols="40" rows="5" formControlName="summary"></textarea>
    <div *ngIf="summary.touched && summary.errors?.required" class="error-message">
        Informe o resumo!
    </div>
    <br /><br />

    Edição: <br />
    <input type="number" min="1"  formControlName="edition" />
    <div *ngIf="edition.touched && edition.errors?.required" class="error-message">
        Informe a edição
    </div>
    <br /><br />

    Ano de Publicação: <br />
    <input type="number" min="1"  formControlName="publicationYear"/>
    <div *ngIf="publicationYear.touched && publicationYear.errors?.required" class="error-message">
        Informe o ano de publicação!
    </div>
    <br /><br />

    ISBN: <br />
    <input type="text" size="20" formControlName="isbn"/>
    <div *ngIf="isbn.touched && isbn.errors?.required" class="error-message">
        Informe o ISBN!
    </div>
    <br /><br />


    Número de Páginas: <br />
    <input type="number" min="1" formControlName="pages"/>
    <div *ngIf="pages.touched && pages.errors?.required" class="error-message">
        Informe o número de páginas!
    </div>
    <br /><br />

    <input type="button" value="Salvar" [disabled]="formBook.invalid" (click)="save()">
    &nbsp;&nbsp;
    <input type="button" value="Cancelar" (click)="cancel()">
</form>